<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842752158199-0rg2t1qp9be8oudi2ml5al10pv7juer0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842752158199-0rg2t1qp9be8oudi2ml5al10pv7juer0</string>
	<key>API_KEY</key>
	<string>AIzaSyC10GyYA2fQQGfZG71srQKGvM7-aFr1ktQ</string>
	<key>GCM_SENDER_ID</key>
	<string>842752158199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laonstory.mguardApp</string>
	<key>PROJECT_ID</key>
	<string>laonstory-m-guard</string>
	<key>STORAGE_BUCKET</key>
	<string>laonstory-m-guard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842752158199:ios:1e927ecb8ef850727da6f2</string>
</dict>
</plist>