<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlx7TzkeeEXcHdnNK919sA9fNVJEG3_X0</string>
	<key>GCM_SENDER_ID</key>
	<string>770735993850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laonstory.mguardApp</string>
	<key>PROJECT_ID</key>
	<string>gateon-f45cd</string>
	<key>STORAGE_BUCKET</key>
	<string>gateon-f45cd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770735993850:ios:6079f8e2d0a7791ca82a43</string>
</dict>
</plist>